html {
    height: 100%;
}

body {    
    background-color:white;
    font-family:sans-serif;
    margin:0 0 0 2rem;
    height:100%;
    display: flex;
    flex-direction: column;
}

h1, h2, ul, li {
    margin:0;
    padding:0;
    font-weight:400;
    transform:scaleY(.8);
}

h1 {
    font-size:4rem;
    font-weight:bold;
}

ul {
    list-style:none;
    font-size:18px;
}

.coordinates {
    transform:scaleY(.2);
    font-size:4rem;
    bottom: -3.5rem;
    position: absolute;    
}